body {
    margin: 0;
    padding: 0;
}

.login-page {
    min-height: 100vh;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    background-image: url("../../images/login-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;

    animation: backgroundZoom 18s ease-in-out infinite alternate;
}

.overlay {
    min-height: 100vh;

    background-color: rgba(0,0,0,0.35);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 400px;
    padding: 40px;

    background-color: rgba(20,20,20,0.75);

    backdrop-filter: blur(8px);

    border-radius: 16px;

    color: white;
    animation: slideFade 0.8s ease;
}

.login-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    
    animation: fadeIn 1s ease;
}

.login-subtitle {
    color: #c7c7c7;
    margin-bottom: 30px;

    animation: fadeIn 1.3s ease;
}


.form-group {
    margin-bottom: 30px;
}

.form-group input {
    width: 100%;
    padding: 14px;

    border: 2px solid transparent;
    border-radius: 10px;

    background-color: #2e2e2e;
    color: white;

    font-size: 1rem;

     transition:
        border-color 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.2s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #d97706;

    box-shadow: 0 0 12px rgba(217, 119, 6, 0.35);

    transform: scale(1.01);
}

.login-btn {
    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 10px;
    background-color: #355e3b;

    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    
    transition: 
        transform 0.2s ease,
        background-color 0.2s ease,
        box-shadow 0.2s ease;

}

.login-btn:hover {
    background-color: #3f7046;

    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(53,94,59,0.35);
}

.login-btn:active {
    transform: scale(0.98);
}

/*
Keyframes animations
*/

@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes backgroundZoom {
    from {
        background-size: 100%;
    }

    to {
        background-size: 110%;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}

    to {opacity: 1;}
}